body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}


header {
  background-color: #fafafa;
  color: #616161;
  text-align: center;
  padding: 10em 0;
  overflow: hidden;
}


header h1 {
  font-size: 4em;
  margin: 0;
  transition: transform 0.3s ease-out;
}

header p {
font-size: 1.5rem;
  transition: transform 0.3s ease-out;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
}


header p {
  font-size: 1.2em;
  margin: 1em 0 0;
}

section {
  padding: 4em 0;
}

section h2 {
  color: #424242;
  margin-bottom: 1em;
  font-size: 2em;
}

.project-header {
  grid-column: span 3;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  gap: 2em;
}

.project {
  background-color: #fff;
  padding: 2em;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  color: #424242;
  font-size: 1.8em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-description {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.project-button {
  display: inline-block;
  background-color: #424242;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #333;
}

.footer {
  background-color: #fafafa;
  color: #616161;
  text-align: left;
  padding: 1em 0;
}

.github-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.github-info p{
  padding-left: 8px;
}


.github-info a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.github-info svg {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #d1d1d1;
  }

  header {
    background-color: #1e1e1e;
    color: #d1d1d1;
  }

  section h2 {
    color: #d1d1d1;
  }

  .project {
    background-color: #1e1e1e;
    color: #d1d1d1;
  }

  .project h3 {
    color: #d1d1d1;
  }

.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a4a4a;
  color: #d1d1d1;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: background-color 0.3s ease;
}

.project-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  background: linear-gradient(120deg, cyan, pink, rgb(251, 116, 251), lime, rgb(255, 207, 76), rgb(255, 70, 122),rgb(176, 136, 255),cyan) border-box;
  background-size: 300% 100%;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-button:hover {
  background-color: #525252;
}

.project-button:hover::after {
  opacity: 1;
  animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}

  .footer {
    background-color: #1e1e1e;
    color: #d1d1d1;
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: float 5s ease-in-out infinite;
}

.shape-1 {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  top: 20%;
  left: 10%;
}

.shape-2 {
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, #d2ffd4, #c7fc9f);
  top: 50%;
  right: 20%;
}

.shape-3 {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #d2feff, #9fecfc);
  bottom: 30%;
  left: 25%;
}

.shape-4 {
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #fed2ff, #fc9ffc);
  bottom: 15%;
  right: 10%;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.particle {
  position: absolute;
  animation: drift 10s linear infinite;
  opacity: 0.5;
}

@keyframes drift {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100vh);
  }
}

.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.particle {
  position: absolute;
  border-radius: 50%;
  animation: particle-animation 10s linear infinite;
}

@keyframes particle-animation {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translate(150vw, 150vh) scale(1.5);
    opacity: 0;
  }
}

header {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-content {
  z-index: 1;
  text-align: center;
}
